#well{
    font-size: 25px;
    color: chocolate;
}
.container1{
    width: 200px;
    background-color:lightblue;
    padding: 50px;
    margin: 20px;
    float: bottom;
    border-radius: 25px;
}
.container-3{
    width: 700px;
}
#city8{
    width: fixed;
    

}
.topBox {
   font-size: 25px; 
}

body {
    background-size: 10px;
    background: url(./IMG/IMG_8424.JPG)

}

/* .card {
    background: none
} */